.DS_Store
db.sqlite3

/backend/dashboard/migrations/
/backend/accounts/migrations/
/backend/transactions/migrations/

/backend/dashboard/__pycache__/
/backend/accounts/__pycache__/
/backend/transactions/__pycache__/
/backend/finsight/__pycache__/
/backend/utils/__pycache__/